header {
    height: 420px;
    background: url(../assets/img/choco-cake.webp) no-repeat center;
    background-size: cover;
}

.footer__right {
    width: 50%;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.footer__copyright {
    margin: 4px 10px;
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
}