:root {
    --delicia-orange: #f5af30;
    --dark-orange: #DC5F01;
    --light-orange: #f7cb7b;
    --off-orange: #f5e6cb;
    --celeste: #13BCC2;
    --blue: #3187f5;
    --warm-black: #201E1C;
    --black: #201e1c;
    --light-grey: #ececec;
    --grey: #757575;
    --dark-grey: #808080;
    --just-white: #fff;
} 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    font-family: "Dm Sans", sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    background: url(assets/img/choco-cake_0.5x.webp) no-repeat center;
    background-size: cover;
}
.logo {
    margin: 40px 0 0;
    width: 30%;
    min-width: 130px;
    max-width: 300px;
}
.hero--title-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    text-align: center;
    align-self: center;
}
.hero--title-container h1 {
    width: 90%;
    margin: 38px auto 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.hero--title-container p {
    width: 90%;
    margin: 38px auto 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--just-white);
}
.hero--title-container .hero--button {
    position: absolute;
    top: calc(100% - 24px);
	left: calc(50% - 114px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 210px;
    height: 48px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 6px;
    color: var(--off-orange);
    background-color: var(--celeste);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    cursor: pointer;
}
.hero--title-container .hero--button:hover {
    background-color: var(--blue);
}
.hero--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url(assets/icons/down-arrow.svg);
}
/* Hero section end */

/* First section - Top Products */
main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-orange);
}
.top-product-container {
    width: 100%;
    height: auto;
    padding: 60px 0 0;
    text-align: center;
}
.top-product-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    background: url(assets/img/Bitcoin.svg) center/cover no-repeat;
}
.top-product-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.top-product-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.top-product-container p {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey);
}

    /* Top product cards style */
.plans__card-container {
    display: flex;
    height: 416px;
    margin: 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 10px;
}
.plans__card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 280px;
    max-width: 300px;
    height: 375px;
    margin: 20px auto;
    padding: 10px;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    background-color: var(--light-orange);
    box-shadow: 0px 4px 8px 0px #59491E29;
}
.plans__card .plans-cards--card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -16px;
    left: calc(50% - 50px);
    width: 100px;
    height: 30px;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 3.2rem;
    background-color: var(--delicia-orange);
    color: var(--just-white);
    border-radius: 5px;
}

    /* Top products image container */

.plans__card-container .fresa {
    width: 250px;
    height: 160px;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid var(--delicia-orange);
    background: url(assets/img/fresas_0.5x.webp) no-repeat center;
    background-size: cover;    
}
.plans__card-container .chocolate {
    width: 250px;
    height: 160px;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid var(--delicia-orange);
    background: url(assets/img/choco-cake_0.5x.webp) no-repeat center;
    background-size: cover;    
}
.plans__card-container .cerezas {
    width: 250px;
    height: 160px;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid var(--delicia-orange);
    background: url(assets/img/cerezas_0.5x.webp) no-repeat center;
    background-size: cover;    
}
.plans__card h3 {
    position: relative;
    margin: 32px auto 15px;
    font-family: "Dm Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
}
.plans__card p~p {
    width: 155px;
    margin: 16px auto;
    color: var(--grey);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.plans__card button {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 150px;
    height: 50px;
    padding: 12px 16px;
    font-family: "Dm Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: var(--black);
    background-color: var(--just-white);
    border: solid 2px var(--delicia-orange);
    border-radius: 4px;
    cursor: pointer;
}
.plans__card button:hover {
    background-color: var(--light-grey);
}
.plans__card .arrow-right {
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/orange-right-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}
/* First section End - Top Products */

/* Second section - purchase form */
.purchase-form-container {
    width: 100%;
    padding: 20px;
    background-color: var(--celeste);
}
.purchase-form-container h2 {
    font-size: 2.4rem;
    color: var(--just-white);
}
.purchase-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 300px;
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}
.purchase-form div {
    width: 100%;
    max-width: 330px;
    min-width: 250px;
    margin: 0 auto;
    padding: 0 10px;
}
.purchase-form label {
    display: inline-block;
    width: 300px;
    margin: 10px 5px 5px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--just-white);
}
.purchase-form input {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid var(--delicia-orange);
    border-radius: 5px;
}

.purchase-form-container .buttton-container {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 300px;
    max-width: 600px;
    width: 95%;
}
.buttton-container .form-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    width: 200px;
    height: 50px;
    padding: 12px 16px;
    font-family: "Dm Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.9rem;
    color: var(--black);
    background-color: var(--just-white);
    border: solid 2px var(--delicia-orange);
    border-radius: 4px;
    cursor: pointer;
}
.buttton-container .credit-button:hover {
    background-color: var(--light-grey);
}
.buttton-container .paypal-button {
    background-color: #ffc439;
    border: none;
}
.buttton-container .paypal-button:hover {
    background-color: #f0b731;
}
.form-button .form-button-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}
.form-button .credit-icon {
    background-image: url(assets/icons/tarjeta-de-credito.png);
}
.form-button .paypal-icon {
    background-image: url(assets/icons/paypal.png);
}
/* Second section End - Purchase form */



/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 150px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: var(--delicia-orange);
    text-decoration: none;
    color: var(--just-white);
}
footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.footer__left ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 5px 10px;
    list-style: none;
}
.footer__associates{
    margin: 10px;
}
.footer__left a:visited {
    color: var(--just-white);
}

.footer__right {
    width: 50%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__right img {
    width: 60px;
}
.footer__copyright {
    margin: 4px auto;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--soft-orange);
}